*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  min-height: 100vh;
  overflow: hidden;
}


#app {
  position: relative;
  min-height: 100vh;
  background-color: dimgray;
}
